@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
:root{
    --font: 'Roboto', sans-serif;
    --color-nav: #C4C4CC;
    --color-h1: #FFFFFF;
    --color-p: #E1E1E6;
    --color-btn: #FFFFFF;
    --color-hover: #02799D;
}
body{
   font-family: var(--font);
   height: 100vh;
}
.hide{
    display: none;
}
nav{
    margin: 4rem 7.2rem;
    align-items: center;
    display: flex;
    gap: 5.2rem;
}
a{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.2rem;
    text-decoration: none;
    color: var(--color-nav);
}
a:hover{
    color: var(--color-h1);
}
a:checked{
    color: var(--color-h1);
}
.home{
    
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
    align-items: center;
}

.btn{
    border: .2rem solid var(--color-h1);
    border-radius: .5rem;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin: 3rem;
    padding: 1.5rem 3.2rem;
    background-color: transparent;
}

.btn:hover{
    background-color: var(--color-btn);
    color: var(--color-hover);
}
.backHome{
   background-image: url(/image/mountains-universe-1.png);
   background-size: cover;
   background-position: left bottom;
   background-repeat: no-repeat;
   overflow-y: hidden;
}
.backExplo{
    background-image: url(/image/mountains-universe-3.png);
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
    overflow-y: hidden;
}
.backUni{
   background-image: url(/image/mountains-universe02.png);
   background-size: cover;
   background-position: left bottom;
   background-repeat: no-repeat;
   overflow-y: hidden;
}
.inf{
    font-family: var(--font);
    margin-top: 14rem;
    flex-direction: column;
    display: flex;
    margin-left: 10.2rem;
    gap: 1.2rem;
}

h1,p{
    color: var(--color-p);
}
h1{
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 6rem;
    
}
p{
    max-width: 64.8rem;
    font-size: 1.8rem;
    line-height: 2.9rem;
}
